1. Multilevel parking lot.
2. Multiple category of parking space.
3. Multiple entry & exit
4. Should not allow more vehicles than allocated space for each category.
5. Charge should be hourly basis.
6. Display available number of parking for each category at entry itself.


